@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Hosting
@inject SignInManager<ApplicationUser> SignInManager
@inject IWebHostEnvironment environment
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmployeeManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Syncfusion Essential JS 2 Styles -->
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />
    <link rel="stylesheet" href="~/css/FBISD.css" />
</head>
@{
    string bodyclass = "";
    if(environment.IsStaging())
    {
        bodyclass = " class='body-test'";
    }
    if (environment.IsDevelopment())//if it is dev, it is also test
    {
        bodyclass = " class='body-dev'";
    }
    string stripeclass = "fb-header-stripe-test";
    string mode = "Test Mode";
    if(environment.IsDevelopment())
    {
        stripeclass = "fb-header-stripe-dev";
        mode = "Dev Mode";
    }
}
<body @Html.Raw(bodyclass)>
    <div id='@stripeclass'>
        <b>
            @mode
        </b>
    </div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 border-top">
            @*<div class="container">*@
                <a class="navbar-brand" href="http://www.fortbendisd.com"><img id="fb-logo-image" src="/images/FBISD-logo.png" title='FBISD Home' height="80"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Create">Create</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        }
                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Manage
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-controller="Administration"
                                       asp-action="ListUsers">Users</a>
                                    <a class="dropdown-item" asp-controller="Administration"
                                       asp-action="ListRoles">Roles</a>
                                </div>
                            </li>
                        }
                    </ul>
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav ml-auto">
                            @*If the user is signed-in display Logout link*@
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <li class="nav-item">
                                    <form method="post" asp-controller="account" asp-action="logout">
                                        <button type="submit" style="width:auto"
                                                class="nav-link btn btn-link py-0">
                                            Logout @User.Identity.Name
                                        </button>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="account" asp-action="register">
                                        Register
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="account" asp-action="login">
                                        Login
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            @*</div>*@
        </nav>
    </header>
    <div class="fb-body-content-container container body-content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

     <footer id="fb-footer-container" class="container">
        <p id="fb-footer-contact">
            Fort Bend ISD  |  16431 Lexington Blvd. | Sugar Land, TX 77479 | Phone: (281) 634-1000
        </p>
        <p id="fb-footer-copyright">
            &copy; @DateTime.Now.Year Fort Bend ISD
        </p>
        <div id="fb-footer-ver" class="pull-right">
            @*@Html.Raw(@WebServer.SiteVersionHTML)*@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Syncfusion Essential JS 2 Scripts -->
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
    <!-- Syncfusion Essential JS 2 ScriptManager -->
    <ejs-scripts></ejs-scripts>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-58814012-5', 'auto');//New mileage token 6/2/2016 is UA-58814012-5 for mileage.fortbendisd.com
        ga('send', 'pageview');
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @*@RenderSection("Scripts", required: false)*@
</body>
</html>
